.button {
  width: 260px;
  height: 52px;
  outline: none;
  background-color: $basic-white;
  border: 2px solid $light-black;
  color: $light-black;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
