.button {
  outline: none;
  background-color: $basic-white;
  border: 2px solid $light-black;
  color: $light-black;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    background: linear-gradient(0deg, $light-black, $light-black);
    color: $basic-white;
  }

  &:active {
    color: $opacity-white;
  }
}
