.catalog-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 111px;
    width: 100%;
  }
}

.catalog-list__item {
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.catalog-list__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    .catalog-list__item-name {
      margin-bottom: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-list__item-name {
      margin-bottom: 6px;
    }
  }
}

.catalog-list__item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.catalog-list__item-link {
  text-decoration: none;
  color: $basic-black;

  &:hover,
  &:focus {
    .catalog-list__item-parameters {
      box-shadow: 0 6px 10px $light-black;
      opacity: 0.6;
    }
  }

  &:active {
    .catalog-list__item-parameters {
      box-shadow: 0 3px 5px $light-black;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

.catalog-list__item-image {
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    grid-row: 1/3;
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.catalog-list__item-parameters {
  box-sizing: border-box;
  padding-right: 28px;
  padding-left: 27px;
  padding-top: 28px;
  border: 1px solid $site-list-shadow;
  border-top: none;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    border-top: 1px solid $site-list-shadow;
    border-left: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-left: 27px;
    padding-top: 29px;
    padding-bottom: 23px;
    border-top: none;
    border-left: 1px solid $site-list-shadow;
  }
}

.catalog-list__item-name {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.catalog-list__item-description {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.catalog-list__item-price {
  padding-top: 22px;
  margin-bottom: 26px;
  border-top: 1px solid $site-list-shadow;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    margin-bottom: 24px;
    padding-top: 24px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
    margin-bottom: 0;
  }
}

.catalog-list__cart-icon-link {
  position: absolute;
  bottom: 27px;
  right: 27px;
  opacity: 0.2;

  &:hover,
  &:focus {
    fill: $basic-green;
    opacity: 1;
  }

  &:active {
    fill: $basic-green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    bottom: 27px;
    right: 32px;
  }
}
