.color-list {
  list-style: none;
  padding-top: 17px;
  padding-left: 60px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.color-list__item {
  margin-bottom: 43px;

  &:last-of-type {
    margin-bottom: 0;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -60px;
      width: 34px;
      height: 34px;
      border: 2px solid $light-black;
    }
  }

  input:hover + label::before,
  input:focus + label::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -60px;
    width: 34px;
    height: 34px;
    border: 2px solid $mail-link;
  }

  input:active + label::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -60px;
    width: 34px;
    height: 34px;
    border: 2px solid $black-light-3;
  }

  input:checked + label::after {
    position: absolute;
    left: -51px;
    top: 0;
    content: "";
    width: 20px;
    height: 10px;
    border-bottom: 1px solid $basic-black;
    border-left: 1px solid $basic-black;
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    &:nth-of-type(even) {
      grid-column: 2/3;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-of-type(even) {
      grid-column: auto;
    }
  }
}
