.color-list {
  list-style: none;
  padding-top: 17px;
  padding-left: 60px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-left: 82px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 80px;
  }
}

.color-list__item {
  margin-bottom: 43px;

  &:last-of-type {
    margin-bottom: 0;
  }

  label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -60px;
      width: 34px;
      height: 34px;
      border: 2px solid $light-black;

      @media (min-width: $tablet-width) {
        left: -82px;
        top: -17px;
        width: 48px;
        height: 48px;
      }

      @media (min-width: $desktop-width) {
        top: -20px;
      }
    }
  }

  input:hover + label::before,
  input:focus + label::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -60px;
    width: 34px;
    height: 34px;
    border: 2px solid $mail-link;

    @media (min-width: $tablet-width) {
      left: -82px;
      top: -17px;
      width: 48px;
      height: 48px;
    }

    @media (min-width: $desktop-width) {
      top: -20px;
      width: 48px;
      height: 48px;
    }
  }

  input:active + label::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -60px;
    width: 34px;
    height: 34px;
    border: 2px solid $black-light-3;

    @media (min-width: $tablet-width) {
      left: -82px;
      top: -17px;
      width: 48px;
      height: 48px;
    }

    @media (min-width: $desktop-width) {
      top: -20px;
      width: 48px;
      height: 48px;
    }
  }

  input:checked + label::after {
    position: absolute;
    left: -51px;
    top: 0;
    content: "";
    width: 20px;
    height: 10px;
    border-bottom: 1px solid $basic-black;
    border-left: 1px solid $basic-black;
    transform: rotate(-45deg);

    @media (min-width: $tablet-width) {
      left: -70px;
      top: -3px;
      width: 26px;
      height: 14px;
      border-width: 2px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;

    &:nth-of-type(even) {
      grid-column: 2/3;
      margin-left: 52px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-of-type(even) {
      grid-column: auto;
      margin-left: 0;
    }
  }
}
