.full-name-list {
  list-style: none;
  padding-left: 0;
  padding-top: 12px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-top: 0;
  }
}

.full-name-list__item {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 41px;
  }
}

.full-name-list__item-input {
  display: block;
  padding-bottom: 13px;
  margin-bottom: 23px;
  width: 98.5%;
  border: none;
  outline: none;
  border-bottom: 2px solid $basic-black;
  font-weight: normal;
  font-size: 19px;
  line-height: 18px;
  color: $light-black;

  &::placeholder {
    color: $black-light-3;
    font-family: $font, "Arial", sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 19px;
      line-height: 18px;
    }
  }

  &:hover,
  &:focus {
    border-color: $mail-link;
  }

  &:active {
    border: none;
    outline: none;
    border-bottom: 2px solid $mail-link;
    font-weight: normal;
    font-size: 19px;
    line-height: 18px;
    color: $light-black;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 11px;
    padding-left: 18px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 11px;
  }
}

.full-name-list__item-label {
  display: block;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 25px;
  }
}
