.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 668px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-header__logo {
  text-align: center;
  height: 35px;
  width: 86px;
  margin-bottom: 22px;

  &:hover,
  &:focus {
    svg {
      opacity: 0.6;
    }
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
    position: absolute;
    left: -1px;
    top: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
    position: absolute;
    top: 10px;
    left: 42.9%;
  }
}

.page-header__information {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
  position: absolute;
  z-index: 5;
  top: 95px;
  right: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    top: 93px;
  }
}

.page-header__logo-desktop,
.page-header__logo-tablet {
  display: none;
}

@media (min-width: 768px) {
  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-mobile {
    display: none;
  }
}

@media (min-width: 1150px) {
  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo-tablet {
    display: none;
  }
}
