.product-form {
  padding-top: 4px;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
  }

  fieldset {
    padding: 0;
    border: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      font-size: 19px;
    }
  }
}

.product-form__fields {
  @media (min-width: $tablet-width) {
    &:nth-of-type(3),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      background-color: $light-grey;
      background-size: cover;
    }
  }
}

.product-form__wrapper {
  width: 260px;
  margin: 0 auto;
  font-family: $font, "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 1050px;
  }
}

.product-form__description {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $light-black;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 63px;
  }
}

.product-form__fields-name {
  position: relative;
  display: flex;
  width: 100%;
  padding-left: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-green;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 40px;
  }

  &::after {
    margin-left: 18px;
    margin-top: 7px;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $mail-link;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.product-form__legend {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  color: $light-black;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: right;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/6;
  }
}

.product-form__button {
  width: 260px;
  height: 52px;
  margin-top: 28px;
  font-family: $font, "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/6;
  }
}

.product-form__type {
  margin-bottom: 20px;
}

.product-form__color {
  margin-bottom: 20px;
}

.product-form__full-name {
  margin-bottom: 11px;
}

.product-form__telephone-number {
  padding-top: 21px;
  margin-bottom: 35px;
}

.product-form__email-adress {
  padding-top: 23px;
  margin-bottom: 35px;
}

.product-form__telephone-number-input,
.product-form__email-adress-input {
  display: block;
  width: 98.5%;
  border: none;
  outline: none;
  border-bottom: 2px solid $basic-black;
  padding-bottom: 17px;

  &::placeholder {
    color: $black-light-3;
    font-family: $font, "Arial", sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
  }

  &:hover,
  &:focus {
    border-color: $mail-link;
  }
}

.product-form__email-adress-input {
  padding-bottom: 15px;
}

.product-form__telephone-number-label {
  display: block;
  position: relative;

  svg {
    position: absolute;
    right: 7px;
    top: -40px;
    fill: $basic-black;
    opacity: 0.2;
  }
}

.product-form__email-adress-label {
  display: block;
  position: relative;

  svg {
    position: absolute;
    right: 3px;
    top: -36px;
    fill: $basic-black;
    opacity: 0.2;
  }
}

.product-form__telephone-number-input:active + .product-form__telephone-number-label,
.product-form__email-adress-input:active + .product-form__email-adress-label {
  svg {
    fill: $mail-link;
    opacity: 1;
  }
}

.product-form__additionally-information {
  padding-top: 22px;
  margin-bottom: 10px;

  textarea {
    width: 100%;
    border: 2px solid $light-black;
    padding-top: 15px;
    padding-left: 15px;
    box-sizing: border-box;

    &::placeholder {
      font-family: $font, "Arial", sans-serif;
      font-weight: normal;
      font-size: 17px;
      line-height: 18px;
    }
  }
}
