.page-main__title {
  text-align: center;
  font-weight: bold;
  font-family: $font, "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 118px;

  @media (min-width: $tablet-width) {
    br:first-child {
      display: none;
    }
    margin-bottom: 370px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 355px;
    font-size: 53px;
    line-height: 57px;
  }
}

.page-main__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 54px;
  background-image: url("../../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% -20px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid $black-light;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 126px;
    background-image: url("../../img/hero-tablet.png");
    background-position: 50%;

    &::after {
      position: absolute;
      bottom: -12px;
      right: 0;
      left: 0;
      content: "";
      height: 24px;
      background-image: url("../../img/zigzag-fill-tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/hero-desktop.png");
    background-position: 50% 0;
    padding-top: 120px;

    &::after {
      position: absolute;
      bottom: -17px;
      right: 0;
      left: 0;
      content: "";
      height: 34px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
    }
  }
}

.page-main__products-list-wrapper {
  @media (min-width: $tablet-width) {
    margin-right: 50px;
    margin-left: 50px;
  }
}

.page-main__wrapper-form {
  background-color: $light-grey;
}

.page-main__catalog-list-wrapper {
  display: flex;
  justify-content: center;
  width: 220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
