//Шрифты
$font: "Open Sans";

//цвета
$basic-white: #ffffff;
$basic-black: #000000;
$black-light: rgba(0, 0, 0, 0.1);
$light-black: #444444;
$basic-green: #63d1bb;
$hover-green: #59d5bc;
$darker-green: #56c3b2;
$hover-darker-green: #46c1ae;
$light-grey: #f1f1f1;
$mail-link: #62d1ba;
$site-list-shadow: #ececec;


//Viewports
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$tablet-width-only: 1149px;
