@import 'variables';

.comment__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.comment__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment__text {
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  color: $light-black;
}

.comment__avtor-name {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}

.comment__avtor-email {
  font-weight: 200;
  font-size: 17px;
  line-height: 30px;
}

.comment__button-text {
  border: none;
  outline: none;
  background-color: transparent;
}
